.review-class{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 44px;
    padding: 4px;
    border-top: solid thin rgba(128, 128, 128, 0.295);
}

.review__pic{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    padding-right: 3px;
}

.review-holder{
    padding: 10px;
    margin: 5px;
}

.review_button{
    height: 2px;
    box-sizing: border-box;
    width: 10%;
    font-weight: bold;
    background-color: white;
    color: #f57676;
    border-style: none;
    margin: 5px;
    padding: 5px;
}

.review_button:hover{
    color: #631818;
}