/* TODO Add site wide styles */
#root{
    background-color: #52d6f4;
    display: grid;
    align-items: center;
}

.review__pic{
    height: 70px;
    width: 70px;
}

.product__container:hover{
    box-shadow: 0 0 11px #8d8c8A;  
}

.product__container{
    border-radius: 10px;
    margin-bottom: 10px;
    display : flex;
    transition: box-shadow .3s;
    border:1px solid lightgrey;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    width: auto;
    justify-content: flex-start;
}

.content__div{
    display : grid;
    background-color: #F6F6F6;
    grid-template-areas:
    "img title button__container"
    ". desc .";
    grid-template-columns: 0.5fr 2fr 1fr;
    padding: 1em;
    padding-right: 19%;
    color: rgb(36, 39, 41);
    font-size: 13px;
    width: auto;
}

.product__title{
    grid-area: title;
    margin-bottom: 2em;
    justify-content:flex-start;
}

.product__desc{
    grid-area: desc;
    margin-bottom: 20px;
}

.product__img{
    grid-area: img;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.button__upvote{
    background-color: #408697;
    margin-right: 0.1fr;
    border: none;
    height: 50%;
    width: 50%;
    right: 20px;
    bottom: 10px;
}