@media screen and (min-width: 500px) {
    ul {
      width: 100%;
      height: auto;
      position: relative;
    }
    
    ul li a {
      float: left;
      padding: 15px;
    }
    
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 500px) {
    div .product__container {
      float: left;
      padding: 20px;
    }
    
  }


#root{
    /* background-image: url('https://i.dlpng.com/static/png/6804610_preview.png'); */
    display: grid;
}

.review__pic{
    height: 70px;
    width: 70px;
}

.product__container:hover{
    box-shadow: 0 0 11px #8d8c8A;  
}

.product__container{
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 1%;
    margin-bottom: 10px;
    display : flex;
    transition: box-shadow .3s;
    border:1px solid lightgrey;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    width: 100%;
}

.content__div{
    display : grid;
    box-sizing: border-box;
    background-color: #F6F6F6;
    grid-template-areas:
    "img title button__container"
    ". desc .";
    grid-template-columns: 0.5fr 2fr 1fr;
    padding: 1em;
    padding-right: 19%;
    color: rgb(36, 39, 41);
    font-size: 13px;
    width: inherit;
}

.product__title{
    grid-area: title;
    margin-bottom: 2em;
    justify-content:flex-start;
}

.product__desc{
    grid-area: desc;
    margin-bottom: 20px;
}

.product__img{
    grid-area: img;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.button__upvote{
  background-color: whitesmoke;
  border: groove 1px rgba(128, 128, 128, 0.19);
  box-sizing: border-box;
  background: url("./icons/upvote.png") no-repeat;
  background-size: cover;
  align-self: flex-end;
  justify-self: flex-end;
  height: 80px;
  width: 90px;
  right: 50px;
  bottom: 10px;
  background-color: rgba(181, 181, 181, 0.204);
}

.button__upvote:hover{
  background-color: #00c575;
}

textarea
{
  margin-right: 1%;
  resize: none;
}

.comment-section{
  padding: 2px;
}