.form-container{
    display: flex;
    justify-content: center;
  }
  .signup-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: url('../../icons/signup-bg.png');
    background-color: #4983e0;
  }
  
  input {
    width: 200px;
    padding: 1% 2%;
    margin: 2%;
    float: center;
    flex-wrap: wrap;
  }
  .signup-btn{
    margin: 5%;
    background-color: #00c575;
    height: 50px;
    width: 100px;
    border-style: none;

  }