.navbar-main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 3px;
  background-color: black;
  color: #295762;
  margin: 6px 0;
}

.profile-dropdown{
  width: 75%;
  margin-bottom: 0%;
  margin: 1%;
}
.navbar-1{
  display: grid;
  grid-template-columns: "m s p";
  width: 100%;
  float: left;
}

.navbar{
  margin: 10px;
  grid-area: m;
  margin-left: 0;
  grid-column-start: 1;
}

.logout-btn{
  width: 100%;
}

ul {
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    padding: 10;
    overflow: hidden;
    border: none;
    background-color: #3983FA
}
  
  li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  li a:hover {
    background-color: #0e61bb;
  }

  .active {
    background-color: #68abbc;
    margin-bottom: 0%;
  }

  li {
    box-sizing: border-box;
  }
  
  li:last-child {
    border-right: none;
  }

  #search-bar{
    background-color: #F5F8FF;
    border-style: none;
    width: 65%;
    height: 30px;
    border-radius: 5px;
    grid-area: s;
    margin-left: 5%;
    
  }

  .curr__profpic{
    grid-area: p;
    image-rendering: crisp-edges;
    border-radius: 50px;
    width: 4%;
    min-width: 50px;
    margin-left: 22%;
  }
